.container {
  display: flex;
  flex-direction: column;
}

.dropzone-default {
  height: 80px;
  width: auto;
  background-color: #f4f6f8e7;
  border-color: rgb(151, 151, 151);
  border-style: dashed;
  border-radius: 10px;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  text-transform: none;
}

.dropzone-drag {
  background-color: #e2e2e2e7;
  border-color: rgb(108, 101, 204);
}

.sortable-item {
  padding: 10px;
  border: 1px solid rgba($color: #000000, $alpha: 0.3);
  border-radius: 2px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 4px;
}
